.debug [class*='col-'] {
  background-color: lightblue;
  border: 1px solid black;
  height: 100px;
}

/* header */
.header_top_nav {
  height: 100px;
  background-color: rgb(28, 28, 58);
}

.jumbo {
  height: 600px;
  background-color: rgb(105, 233, 162);
}


/* corpo */

/* prima sezione */
#portfolio {
  height: 600px;
  background-color: white;
}

/* seconda sezione */
#about {
  height: 400px;
  background-color: #69e9a2;
}


/* terza sezione */
#contact {
  height: 600px;
  background-color: white;
}

/* footer */

/* footer top */
.footer_top {
  height: 250px;
  background-color: #314380;
}

/* footer bottom */
.footer_bottom {
  height: 100px;
  background-color: #1c1c3a;
}